
    .head{
        align-items: center;
        width: 20000px;
        height: 150px;
        background-color: beige;
        
        



    }
body{
background-color:#3facd7;
color: #ffff;
font-family: "Rubik", sans-serif;
text-align: center;

}

.h1{
  S
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}