*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}
.fondo{
    background-image: linear-gradient(to bottom right, #0073b7, #77dd77);
    height: 100%;
    width: 100%;
    position: fixed;
}
header{
    background-color: #106096a9;
    display:flex;
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2rem;
}
main{
    position:absolute;
    margin-top: 5vh;
    width: 100%;
    padding: 10px;
    line-height: 2rem;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 1.5rem;
}
h1, h2{
    display: flex;
    justify-content: center;
}
.container-item{
    position: relative;
    margin: 40px 0;
    margin-bottom: 20px;
    width: 100%;
}
.question{
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}
.item_option{
    font-size: 1.3rem;
    list-style: none;
}

@keyframes moveWave {
    0% {
        transform: translateY(0) rotate(0deg);
    }   
    50% {
        transform: translateY(-10px) rotate(-5deg);
    } 
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
.wave {
    position: fixed;
    left: 0;
    bottom: -50px;
    transform-origin: bottom left;
    animation: moveWave 4s ease-in-out infinite;
    height: max-content;
    width: max-content;
    position: fixed;
}
.wave img{
    height: 45vh;
    width: 45vh;
}
.containerOfContainers{
    position: absolute;
    background-color: #13a0c057;
    width: 100vh;
    height: max-content;
    padding: 1px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    justify-items: center;
}
