*{
  font-weight: -1000;
  margin: 0;
  padding: 0;
}
body{

  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #2a4657;
    padding: 0;
    z-index: 10;
  
  
}
h1{
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px #797979d2;
  position: relative;
  margin-top: -6vh;
}
h2{
  margin-top: 2vh;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5rem;
}

.test-container {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
}
.questions{
  font-family: "Barlow Condensed", sans-serif;
}
li{
  font-size: 2rem;
  line-height: 1.8rem;
}





header{
  height: 10vh;
}
footer{
  height: 10vh;
}
.fondo{
  background-color: #0073b7;
  background-image: linear-gradient(to bottom right, #0073b7, #77dd77);
  height: 80vh;
  position: fixed;
  width: 100%;
  z-index: -50;
}

.contenido{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

p, a{
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 3.5rem;

}
a:hover{
  color: #ffde00;
}
a
.check{
 display: none;
}
.esferas-contenedor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.esferas{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: esfera 13s infinite linear;
}

.esfera{
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.esfera1{
  width: 100px;
  height: 100px;
  top: 10%;
  left: 0;
}

.esfera2{
  width: 50px;
  height: 50px;
  top: 40%;
  left: 30%;
}

.esfera3{
  width: 70px;
  height: 70px;
  top: 70%;
  left: 60%;
}

.esfera4{
  width: 80px;
  height: 80px;
  top: 20%;
  left: 90%;
}

.esfera5{
  width: 60px;
  height: 60px;
  top: 80%;
  left: 20%;
}

@keyframes esfera{
  0%{
      transform: translateX(-100%);
  }100%{
      transform: translateX(100%);
  }
}

.form{
  height: max-content;
  z-index: -10;
  position: absolute;
}

